.services {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.services-item {
    padding: 35px 37px ;
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
    width: 285px;
}

.services-item span {
    font-size: 27px;
    padding: 12px;
}

.services-item h3 {
    font-family: "Rowdies", sans-serif;
    font-size: 19px;
    color: #e28301;
    margin: 0;
}

.services-item p {
    font-family: "Ojuju", sans-serif;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #f6f6f6;
}

.img-service {
    width: 50px;
    background: #bababa;
    border-radius: 5px;
    padding: 5px;
}